.dark {
	background-color: rgba(0, 0, 0, .32);
}

.toner {
	background-color: rgba(0, 0, 0, .5);
}

.menu-btn {
	@include adaptive-value('padding-top', 13, 5);
	@include adaptive-value('padding-bottom', 13, 5);
	@include adaptive-value('padding-left', 17, 7);
	@include adaptive-value('padding-right', 17, 7);

	display: flex;
	align-items: center;

	background-color: transparent;

	cursor: pointer;

	&__user {
		display: flex;
		align-items: center;

		margin-right: 15px;

		&-avatar {
			display: inline-block;

			position: relative;

			width: 40px;
			height: 40px;

			margin-right: 20px;

			&-medal {
				position: absolute;
				top: 25px;
				right: 0;

				width: 20px;
				height: 27px;
			}
		}

		&-name {
			font-family: "Play", sans-serif;

			font-size: 22px;
			line-height: 25px;

			color: var(--color-1c);

			max-width: 220px;

			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	&__arrow {
		position: relative;
		top: 2px;

		path {
			fill: var(--color-1c);
		}
	}
}

.logo {
	display: flex;
	align-items: center;

	&__image {
		margin-right: 13px;
	}

	&__text {
		font-family: "Play", sans-serif;

		font-size: 23px;

		color: var(--color-1c);
	}
}

.user {
	display: flex;
	align-items: center;

	@include adaptive-value('margin-left', -12.5, -5);
	@include adaptive-value('margin-right', -12.5, -5);

	&__el {
		@include adaptive-value('margin-left', 12.5, 5);
		@include adaptive-value('margin-right', 12.5, 5);
	}

	&__avatar {
		position: relative;

		flex-shrink: 0;

		&-image {
			width: 64px;
			height: 64px;
		}

		&-medal {
			position: absolute;
			right: 0;
			top: 40px;

			width: 20px;
			height: 27px;
		}
	}

	&__info {
		color: var(--color-1c);

		display: flex;
		flex-direction: column;

		flex-grow: 0;
	}

	&__name,
	&__talent-id {
		color: inherit;

		font-size: 20px;

		overflow: hidden;

		max-width: 180px;

		white-space: nowrap;

		text-overflow: ellipsis;
	}

	&__name {
		margin-bottom: 10px;
	}

	&__logout {
		flex-shrink: 0;

		cursor: pointer;
	}
}

.general-stats {
	background-image: url('../img/generalStat.jpg');
	background-repeat: no-repeat;
	background-size: cover;

	height: 210px;

	border-radius: 8px;

	color: var(--color-ff);

	font-family: Play, sans-serif;

	position: relative;

	z-index: -2;
	overflow: hidden;

	&__header {
		padding: 12px 20px;

		background-color: rgba(0, 0, 0, .32);

		box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
	}

	&__title {
		font-size: 24px;
		font-weight: 700;

		margin: 0;
		padding: 0;

		color: inherit;

		margin-bottom: 5px;
	}

	&__text-stat {
		color: var(--color-f5);

		font-size: 18px;
		font-weight: 400;

		margin: 0;
		padding: 0;
	}

	&__score {
		position: absolute;
		top: 30px;
		right: 40px;

		font-size: 22px;

		color: inherit;
	}

	&__dark {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		z-index: -1;
	}

	&__marker {
		width: 4px;

		height: 50px;

		background-color: #fff;

		border-radius: 2px;

		position: absolute;

		left: 0;
		bottom: -7px;

		transform: translateX(-50%);
	}

	&__toner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		z-index: -1;

		background-color: rgba(0, 0, 0, .4);
	}
}