.content {
	padding-top: 60px;

}

.game-card {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	border-radius: 8px;

	overflow: hidden;

	z-index: -2;

	position: relative;

	& + & {
		margin-top: 55px;
	}

	&_cs {
		background-image: url('../img/csBg.jpg');
	}

	&_dota {
		background-image: url('../img/dotaBg.jpg');
	}

	&_overwatch {
		background-image: url('../img/dotaBg.jpg');
	}

	&__icon-wrapper {
		width: 80px;
		height: 45px;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		background-color: rgba(0, 0, 0, .32);

		box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);

		padding: 15px;

		font-family: Raleway, sans-serif;

		color: #fff;


		&-item {

		}
	}

	&__text-score {
		font-size: 18px;
	}

	&__score {
		font-size: 20px;
	}

	&__btn {
		background-color: transparent;

		color: inherit;

		display: flex;
		align-items: center;

		font-size: 18px;

		&-text {
			margin-right: 15px;
		}
	}

	&__body {
		padding: 15px 30px;
	}

	&__list {
		list-style: none;

		color: #fff;

		font-family: Raleway, sans-serif;

		padding: 0;
		margin: 0;
	}

	&__stat {
		font-size: 18px;

		color: inherit;

		& + & {
			margin-top: 25px;
		}
	}

	&__value {
		font-weight: 700;
	}
}

@media (max-width: 730px) {
	.game-card {
		&__btn-text {
			display: none;
		}
	}
}

@media (max-width: 592px) {
	.game-card {
		&__text-score {
			width: 100%;

			order: 10;

			text-align: center;
		}
	}
}