body {
	background-color: var(--color-bg);
	
	&.lock {
		overflow: hidden;
	}
}

.container {
	max-width: 1030px;

	padding: 0 15px;

	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
}

.layout {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background-color: rgba(0, 0, 0, .2);

	opacity: 0;

	visibility: hidden;

	transition: .3s;

	&.active {
		opacity: 1;

		visibility: visible;
	}
}