.header {
	width: 100%;

	background-color: var(--color-ff);

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__menu-btn {
		flex-shrink: 1;

		flex-basis: 360px;
	}

	&__logo {
		flex-shrink: 0;

		cursor: pointer;
	}
}

@media (max-width: 425px) {
	.header__menu-btn {
		.menu-btn__user-name {
			display: none;
		}
	}
}