.side {
	position: fixed;
	left: -150%;
	top: 0;

	background-color: var(--color-ff);

	padding-top: 108px;
	padding-bottom: 40px;

	@include adaptive-value('padding-left', 40, 20);
	@include adaptive-value('padding-right', 40, 20);

	height: 100%;

	border-radius: 0 15px 0 0;

	font-family: "Play", sans-serif;

	max-width: 380px;

	overflow: auto;

	z-index: 1;

	transition: .3s;

	&.active {
		left: 0;
	}

	&__user {
		margin-bottom: 50px;
	}

	&__arrow {
		position: absolute;
		top: 28px;
		right: 33px;

		transform: rotate(180deg) scale(1);

		path {
			fill: var(--color-1c);
		}

		cursor: pointer;

		transition: .3s;

		&:hover {
			transform: rotate(180deg) scale(1.2);
		}
	}

	&__block {
		font-family: Inter, sans-serif;

		& + & {
			margin-top: 30px;
		}

		&-header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			margin-bottom: 40px;
		}

		&-title {
			color: var(--color-44);

			margin: 0;
			padding: 0;

			font-size: 24px;
			font-weight: 400;
		}
	}

	&__accounts {
		padding: 13px 0;
		&-arrow {
			path {
				fill: var(--color-44);
			}
		}
	}

	&__account {
		display: flex;
		align-items: center;
		column-gap: 17px;

		padding: 13px 0;

		padding-left: 10px;

		padding-right: 20px;

		&-info {
			display: flex;
			flex-direction: column;

			row-gap: 6px;
		}

		&-name {
			font-size: 14px;
			font-weight: 700;

			color: var(--color-00);
		}

		&-id {
			font-family: Play, sans-serif;

			font-size: 14px;
			font-weight: 400;

			color: var(--color-5e);
		}

		&-name,
		&-id {
			overflow: hidden;

			max-width: 145px;

			white-space: nowrap;

			text-overflow: ellipsis;
		}

		&-exit {
			flex-shrink: 0;

			margin-left: auto;
		}
	}

	&__shares {
		display: flex;
		align-items: center;

		column-gap: 20px;
	}
}