.tooltip {
	display: flex;
}

.tooltip__content {
	position: absolute;
	left: 200%;
	top: 100%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	padding-top: 5px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;

	z-index: 1;
}


.tooltip:hover .tooltip__content {
	opacity: 1;
	visibility: visible;
}

.tooltip__btn {
	padding: 0;
	background-color: transparent;
}

.tooltip__btn,
.tooltip__btn:hover,
.tooltip__btn:focus {
	outline: none;
	border: none;
}

.tooltip__image {
	width: 45px;

	& + & {
		margin-left: 20px;
	}
}

.tooltip__inner {
	padding: 15px;

	background-color: var(--color-ff);

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

	border-radius: 11px;

	width: 360px;
}

.tooltip__row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tooltip__text {
	color: var(--color-44);

	font-family: Inter, sans-serif;

	font-size: 16px;
}