.tooltip {
	display: flex;
}

.tooltip__content {
	position: absolute;
	left: -15px;
	top: 100%;
	padding-top: 10px;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;

	z-index: 1;
}


.tooltip:hover .tooltip__content {
	opacity: 1;
	visibility: visible;
}

.tooltip__btn {
	padding: 0;
	background-color: transparent;
}

.tooltip__btn,
.tooltip__btn:hover,
.tooltip__btn:focus {
	outline: none;
	border: none;
}

.tooltip__image {
	width: 45px;

	& + & {
		margin-left: 20px;
	}
}

.tooltip__inner {
	padding: 15px;

	background-color: var(--color-ff);

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

	border-radius: 11px;

	width: 360px;
}

.tooltip__inner:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #fff transparent;;
	position: absolute;
	top: 0;
	left: 15px;
}

.tooltip__row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tooltip__text {
	color: var(--color-44);

	font-family: Inter, sans-serif;

	font-size: 16px;
}