$maxWidthContainer: 1017;

html.light-theme {
	--color-bg: #f8fcfd;
	--color-1c: #1c1c1c;
	--color-ff: #ffffff;
	--color-44: #444444;
	--color-c4: #c4c4c4;
	--color-00: #000000;
	--color-5e: #5e5e5e;
	--color-f5: #f5f5f5;
	--color-footer: #0e1d27;
	--color-2c: #2c2c2c;
}

html.dark-theme {
	--color-bg: #0e1d27;
	--color-1c: #c7c7c7;
	--color-ff: #101621;
	--color-44: #a3a3a3;
	--color-c4: #c4c4c4;
	--color-00: #c7c7c7;
	--color-5e: #5e5e5e;
	--color-f5: #f5f5f5;
	--color-footer: #000f17;
}