$maxWidthContainer: 1017;

html.light-theme {
	--color-bg: #f8fcfd;
	--color-1c: #1c1c1c;
	--color-ff: #ffffff;
	--color-44: #444444;
	--color-c4: #c4c4c4;
	--color-00: #000000;
	--color-5e: #5e5e5e;
	--color-f5: #f5f5f5;
}

html.dark-theme {

}